body{
  font-size: 16px;
  color: #333333;
  
  font-family: 'Oxygen', 'sans-serif', Arial, 宋体, SimSun;

}

#nav-list li.active > a {
  background-color:#FFFFFF;


}

#header-nav{
  background-color: #CCCCCC;
  border: 0;

}



.navbar-brand h1{
  font-size: 16px;
  color: #333333;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}



#nav-list {
  margin-top: 10px;
}

#nav-list a{
  color: #333333;
  text-align: center;
}

#nav-list a:hover {
  background: #FFFFFF;
}

.nav-tile {
  font-size: 1.2em;
}

form button {
  color: #333333;
}

#header-nav button.navbar-toggler, #header-nav button.navbar-toggler span {
  border: 1px solid #CC0033;

}

#header-nav button.navbar-toggler {
  clear: both;
}

/* end of header  */

/* HOME Page  */


#chicken, #beef, #sushi {
	margin: 50px, 10px, 20px, 10px;
}









/* End of HOME Page */





